

/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
  width: 100%;
}

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
}

#sidebar {
  height: 90vh;
  overflow-y: scroll;
  border: 2px solid black;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.btn {
  background: #b2b2b2
}

#search {
  padding: 10px;
  margin: 0 auto;
  border: 2px black solid;
}

.event {
  padding: 5px;
  margin: 5px auto;
  border: 1px #e5e3e3 solid;
  max-width: 400px;
}

.event:hover {
  transform:scale(1.1);
}